# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Secrets
.env

# Generated Database
*.db

# Generated Charts (IMPORTANT)
app/static/charts/*
!app/static/charts/.gitkeep
